.main-section {
    background-color: rgb(229, 192, 178);
    max-width: 1000px;
    
    margin: 3rem auto;
    width: 300px;
    height: 300px;
    border-radius: 0.5rem 2rem 2rem 2rem;
}

.main-section:hover {
  scale: 1.05;
  transition: 0.1s ease-in;
}

h1 {
  margin-top: 0;
  padding: 1rem;
  text-align: center;
  background-color: rgb(125, 135, 225);
  border-radius: 2rem;
  height: 50px;
}

p {
  padding: 1rem;
  font-weight: 600;
  background-color: rgb(228, 162, 159);
  border-radius: 2rem;
  height: 80px;
}

.item-btn {
  margin: 1rem;
  background-color: orange;
}