nav {
    left: 20px;
    top: 50px;
    position: fixed;
    background-color: rgb(182, 169, 169);
    width: 10%;
    height: 300px;
    border-radius: 3rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem
}